<div class="card-panel recipe-detail grey lighten-5 z-depth-1">
  <p class="title" *ngIf="!editForm">{{recipeDetail?.name}} recipe</p>
  <div class="input-field" *ngIf="editForm">
    <input placeholder="Name of recipe" autocomplete="off" [(ngModel)]="recipeDetail.name" id="name" type="text"
           class="validate">
  </div>
  <div class="recipe-id">
    <span class="id-badge light-blue darken-1">RECIPE ID: {{recipeDetail?.id}}</span>
  </div>
  <div class="big-amount">
    <p class="label">Big Amount</p>
    <div class="switch">
      <label>
        No
        <input type="checkbox" [checked]="recipeDetail?.big_amount" *ngIf="!editForm" disabled>
        <input type="checkbox" [(ngModel)]="recipeDetail.big_amount" *ngIf="editForm">
        <span class="lever"></span>
        Yes
      </label>
    </div>
  </div>

  <div class="favourite">
    <p class="label">Favourite recipes</p>
    <div class="switch">
      <label>
        No
        <input type="checkbox" [checked]="recipeDetail?.favourite" *ngIf="!editForm" disabled>
        <input type="checkbox" [(ngModel)]="recipeDetail.favourite" *ngIf="editForm">
        <span class="lever"></span>
        Yes
      </label>
    </div>
  </div>
  <div class="ingredients">
    <div class="add-another" *ngIf="editForm">
      <app-add-ingredients
        (add)="addIngredient($event, recipeDetail.id)">
      </app-add-ingredients>
    </div>
    <p class="ingredients-title">
      Ingredients:
    </p>
    <div class="ingredients">
      <table class="striped responsive-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Unit</th>
          <th>Cooking Method</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ingredient of ingredients">
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.amount}}</td>
          <td>{{ingredient.unit}}</td>
          <td>{{ingredient.cookingMethod}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="edit" (click)="editRecipe()" *ngIf="!editForm">
    <a class="btn-floating btn-medium waves-effect waves-light blue"><i
      class="material-icons">edit</i></a><span class="button-desc">Edit recipe</span>
  </div>
  <div class="edit" (click)="saveRecipe()" *ngIf="editForm">
    <a class="btn-floating btn-medium waves-effect waves-light blue"><i
      class="material-icons">save</i></a><span class="button-desc">Save recipe</span>
  </div>
</div>

