<div class="card-panel recipe-detail grey lighten-5 z-depth-1">
  <p class="title">{{recipeDetail?.name}} recipe</p>
  <div class="recipe-id">
    <span class="id-badge light-blue darken-1">RECIPE ID: {{recipeDetail?.id}}</span>
  </div>
  <div class="big-amount">
    <p class="label">Big Amount</p>
    <div class="switch">
      <label>
        No
        <input type="checkbox" [checked]="recipeDetail?.big_amount" disabled>
        <span class="lever"></span>
        Yes
      </label>
    </div>
  </div>

  <div class="favourite">
    <p class="label">Favourite recipes</p>
    <div class="switch">
      <label>
        No
        <input type="checkbox" [checked]="recipeDetail?.favourite" disabled>
        <span class="lever"></span>
        Yes
      </label>
    </div>
  </div>
  <div class="ingredients">
    <div class="add" (click)="toggleAction()">
      <a class="btn-floating btn-medium waves-effect waves-light blue"><i
      class="material-icons">add</i></a><span class="button-desc">Add another ingredient</span>
    </div>
    <div class="add-another" *ngIf="!toggle">
      <app-add-ingredients
        (add)="addIngredient($event)">
      </app-add-ingredients>
    </div>
    <p class="ingredients-title">
      Ingredients:
    </p>
    <div class="ingredients">
      <table class="striped responsive-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Unit</th>
          <th>Cooking Method</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ingredient of recipeDetail?.ingredients">
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.amount}}</td>
          <td>{{ingredient.unit}}</td>
          <td>{{ingredient.cookingMethod}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
