select{
  display: block;
  height: 2rem;
}

.card-panel{
  padding-top: 5px;
}

p{
  margin-top: 5px;
}

.add-ingredients{
  margin-top: 10px;
  text-align: right;
}

.input-fields{
  margin-top: 8px;
}
