.preloader-wrapper {
  margin: 100px auto;
  display: block;
}

.btn:active {
  transform: scale(0.8);
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #039be5;
  box-shadow: 0 1px 0 0 #039be5;
}

.add {
  transition: all 0.3s;
  .btn-floating {
    &:hover {
      transform: scale(0.8);
    }
  }
}
