.item {
  position: relative;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}

.icon {
  color: #039be5;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }

}

.recipes-title {
  display: block;
  text-align: left;
  width: 280px;
  margin-left: 20px;
}

.number {
  display: block;
  line-height: 30px;
  margin-right: 10px;
  background: #039be5;
  width: 34px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.add {
  position: absolute;
  bottom: -50px;
  transition: all 0.3s;
  .btn-floating {
    &:hover {
      transform: scale(0.8);
    }
  }
}

.list-nav {
  display: block;
  &:hover {
    background: #eee;
    cursor: pointer;
  }

  &.active {
    background: #eee;
  }
}

.delete-item{
  position: absolute;
  right: 10px;
  margin-top: -45px;
  cursor: pointer;
}
